@import url('https://fonts.googleapis.com/css?family=Baloo%20Tammudu%202:700|Noto%20Sans%20Cypriot:400');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 69% 97%;
    --background-light: 30 50% 99%;
    --foreground: 32 5% 0%;
    --card: 32 50% 90%;
    --card-foreground: 32 5% 10%;
    --popover: 32 100% 95%;
    --popover-foreground: 32 100% 0%;
    --primary: 32 37.9% 46.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 32 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 30 63% 89%;
    --muted-foreground: 32 5% 35%;
    --accent: -6 30% 80%;
    --accent-foreground: 32 5% 10%;
    --destructive: 0 100% 40%;
    --destructive-foreground: 32 5% 90%;
    --border: 31 48% 64%;
    --input: 32 30% 18%;
    --ring: 32 37.9% 46.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 32 50% 5%;
    --background-light: 30 12% 7%;
    --foreground: 32 5% 90%;
    --card: 32 50% 0%;
    --card-foreground: 32 5% 90%;
    --popover: 32 50% 5%;
    --popover-foreground: 32 5% 90%;
    --primary: 32 37.9% 46.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 32 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 30 27% 16%;
    --muted-foreground: 32 5% 60%;
    --accent: -6 30% 15%;
    --accent-foreground: 32 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 32 5% 90%;
    --border: 32 30% 18%;
    --input: 32 30% 18%;
    --ring: 32 37.9% 46.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply h-dvh;
    @apply w-dvw;
    @apply overflow-hidden;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Noto Sans Cypriot';
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Baloo Tammudu 2';
    font-weight: 700;
  }

  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 1.875rem; /* 30px */
  }

  h2 {
    font-size: 1.5rem; /* 24px */
  }

  h3 {
    font-size: 1.25rem; /* 18px */
  }

  small {
    font-size: 0.75rem; /* 12px */
  }
}
